@font-face {
  font-family: 'Test Light';
  src: url('~assets/fonts/GTEestiProText-Thin.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Test Regular';
  src: url('~assets/fonts/GTEestiProText-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Test Medium';
  src: url('~assets/fonts/GTEestiProText-Medium.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Test Bold';
  src: url('~assets/fonts/GTEestiProDisplay-Bold.ttf') format("truetype");
  font-display: swap;
}


:root {
  --font-primary: 'Test Regular', 'Helvetica', 'Arial', sans-serif;
  --font-primary-light: 'Test Light', 'Helvetica', 'Arial', sans-serif;
  --font-primary-medium: 'Test Medium', 'Helvetica', 'Arial', sans-serif;
  --font-bold: 'Test Bold', sans-serif;

  --body-font-weight: 400;
  --text-base-size: 10px;
  --text-scale-ratio: 1.55;

  --body-line-height: 2;
  --heading-line-height: 1.2;
  --heading-front-weight: 400;
  --button-font-weight: 400;

  --font-family-capital-letter: 1;
  --text-unit: var(--text-base-size);
}

:root, * {

  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

body {
  font-family: var(--font-primary, sans-serif);
  font-weight: var(--body-font-weight, normal);
  line-height: var(--body-line-height);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-contrast-higher, hsl(0, 0%, 15%));
  line-height: var(--heading-line-height, 1.2);
  font-weight: var(--heading-front-weight, 400);
  margin: 1rem 0;
  font-family: var(--font-primary-medium);
}

p {
  font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1900 - 360)));
}

h1 {
  font-size: calc(70px + (140 - 70) * ((100vw - 320px) / (1900 - 360)));
  font-family: var(--font-primary-light);
  letter-spacing: -4px;
}

h2 {
  font-size: calc(45px + (85 - 45) * ((100vw - 320px) / (1900 - 360)));
}

h3 {
  font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1900 - 360)));
}

h4 {
  font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1900 - 360)));
  font-family: var(--font-primary);
  line-height: 1.9;
}

h5 {
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1900 - 360)));
}

h6 {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1900 - 360)));
  text-transform: uppercase;
  white-space: break-spaces;
}


.text-stroke {
  -webkit-text-stroke: 1px var(--color-white);
  color: transparent;
}

.bold {
  font-weight: 600;
}
